[Unit]
Description=RTKBase - Archiving and cleaning raw data
After=network-online.target

[Service]
Type=oneshot
User={user}
# ExecStartPre=+/bin/bash {script_path}/update_timer.sh
# ExecStartPre=/bin/sleep 120
ExecStart={script_path}/archive_and_clean.sh
# ReadWritePaths={script_path}
# Ensure systemd uses the real global /tmp instead of a restricted sandbox
PrivateTmp=no
# Ensure the service can write to system paths
# ProtectSystem=strict
ProtectSystem=false
# ProtectHome=read-only
ProtectHome=false

[Install]
WantedBy=multi-user.target