[Unit]
Description=RTKBase archive and upload timer

[Timer]
# the first run after boot 5 mins
OnBootSec=5min
# placeholder for copy_unit.sh during installation
OnUnitActiveSec={{ROTATE_INTERVAL}}
Unit=rtkbase_archive.service

[Install]
WantedBy=timers.target
