[Unit]
Description=RTKBase - Archiving and cleaning raw data

[Service]
Type=oneshot
User={user}
ExecStart={script_path}/archive_and_clean.sh
# ReadWritePaths={script_path}
# Ensure systemd uses the real global /tmp instead of a restricted sandbox
PrivateTmp=no
# Ensure the service can write to system paths
# ProtectSystem=strict
ProtectSystem=false
# ProtectHome=read-only
ProtectHome=false
